<div class='container'>
  <div>
    <h3>Component Runtime</h3>
    <div class="component-container">
      <slot name="component"></slot>
    </div>
  </div>

  <div class='code-container'>
    <h3>Component Code</h3>
    <slot></slot>
  </div>
</div>

<style lang="scss">
.container {
  background-color: cadetblue;
  padding: 0.5em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  h3 {
    margin: 0
  }

  .component-container {
    padding: 0;
    border: 2px solid black;
    background-color: white;
  }

  .code-container {
    flex: 1
  }
}
</style>