<div>
  <span>↔️ Compare</span>
  
  <div>
    <slot></slot>
  </div>
</div>

<style>
div {
  background-color: beige;

  padding: 1em;
  margin-bottom: 1em;
}
span {
  font-size: larger;
  font-weight: bold;
}
</style>